{% extends 'hr/sidebar_base.html' %}
{% load auth_hr %}

{% block main_content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- Member Details Section -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">{{ member }}</h2>
            <img src="{{ member.profile_picture.url }}" class="img-fluid img-thumbnail" style="max-width: 150px; height: auto;" alt="{{ member }}">
            <p><strong>Email:</strong> {{ member.email }}</p>
            <p><strong>Team:</strong> {{ member.team.name }}</p>
            <p><strong>Sub-Team:</strong> {{ member.sub_team.name }}</p>
            <p><strong>Email:</strong> {{ member.email }}</p>
            <p><strong>ID:</strong> {{ member.member_id }}</p>
            <p><strong>Major:</strong> {{ member.major }}</p>
            <p><strong>Date Joined:</strong> {{ member.date_joined|date:"F j, Y" }}</p>
            <p><strong>Last Login:</strong> {{ member.last_login|date:"F j, Y, g:i a" }}</p>
        </div>
    </div>
    

    <!-- Member Performance Ratings -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Performance Overview</h3>
            <ul class="list-group list-group-flush">
                {% for label, rating in member_ratings %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{ label }}</strong>
                    <span>{{ rating|floatformat:2 }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Warnings</h3>
            <p>Total Warnings: {{ warnings_num }}</p>
            {% if user|is_head %}
            <a href="{% url 'hr_manage:warning-create' member.pk %}" class="btn btn-outline-primary btn-sm">Create Warning</a>
            <a href="{% url 'hr_manage:dismiss-member' member.pk %}" class="btn btn-outline-danger btn-sm">Dismiss</a>
            {% endif %}
            {% if warnings %}
            <ul class="list-group list-group-flush">
                {% for warning in warnings %}
                <li class="list-group-item">
                    <strong>{{ warning.warning_type }}</strong><br>
                    <span class="text-muted">Created at: {{ warning.created_at}}</span>
                    <br>
                    <a href="{% url 'hr_manage:warning-detail' warning.pk %}" class="btn btn-outline-primary btn-sm mt-2">View Warning</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No warnings.</p>
            {% endif %}
        </div>
    </div>

    <!-- Attended Meetings Section -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Attended Meetings</h3>
            <p>Total Attended: {{ attended_meetings_num }}</p>
            {% if attended_meetings %}
            <ul class="list-group list-group-flush">
                {% for meeting in attended_meetings %}
                <li class="list-group-item">
                    <strong>{{ meeting.title }}</strong><br>
                    <span class="text-muted">Scheduled: {{ meeting.scheduled_at|date:"F j, Y, g:i a" }}</span>
                    <br>
                    <a href="{% url 'hr_manage:evaluate-meeting-multi-create' meeting.pk %}#{{member.email}}" class="btn btn-outline-primary btn-sm mt-2">View Evaluation</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No attended meetings.</p>
            {% endif %}
        </div>
    </div>

    <!-- Unattended Meetings Section -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Unattended Meetings</h3>
            <p>Total Unattended: {{ unattended_meetings_num }}</p>
            {% if unattended_meetings %}
            <ul class="list-group list-group-flush">
                {% for meeting in unattended_meetings %}
                <li class="list-group-item">
                    <strong>{{ meeting.title }}</strong><br>
                    <span class="text-muted">Scheduled: {{ meeting.scheduled_at|date:"F j, Y, g:i a" }}</span>
                    <br>
                    <a href="{% url 'hr_manage:evaluate-meeting-multi-create' meeting.pk %}#{{member.email}}" class="btn btn-outline-primary btn-sm mt-2">View Evaluation</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No unattended meetings.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
