{% extends 'base.html' %}
{% load auth_hr %}

{% block content %}
<div class="container-fluid">
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'hr_manage:dashboard' %}">
                <i class="bi bi-house-door-fill"></i> Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'hr_manage:dashboard' %}">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hr_manage:meeting-list' %}">
                            Meetings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hr_manage:member-list' %}">
                            Members
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'hr_manage:warning-list' %}">
                            Warnings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content Section -->
    <div class="row">
        <div class="col">
            {% block main_content %}
            {% endblock main_content %}
        </div>
    </div>
</div>
{% endblock content %}

